body{
    font-family: 'Lobster', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
section{
    display: flex;
    padding: 10%;
}
#col1{
    width: 60%;
}
#dis1{
    width: 90%;
}
#git_link{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange,red);
    padding: 5px;
    margin-left: 10px;
}
#sec1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}