body{
    font-family: 'Lobster', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.flexible{
    display: flex;
    padding: 10%;
}
.col{
    width: 60%;
}
#col2{
    width: 80%;
    margin-left: 20%;
}
.dis{
    width: 80%;
}
#git_link{
    text-decoration: none;
    font-size: 150%;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange,red);
    padding: 5px;
    margin-left: 10px;
    border-radius: 30%;
}
#sec1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
#sec2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#sec3{
    background-image: url(images/my-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    height: 10%;
    width: 30%;
}
#pic1{
    border-color: yellow;
    border-radius: 15%;
}
#pic2{
    border-color: red;
    border-radius: 15%;
}
#aim{
    background-color: orange;
    border: 40%;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    color: white;
}

.pad{
   padding-left: 10%;
}
.exp{
    box-shadow: 10px 10px 40px gray;
    margin: 25px;
    padding-left: 40px;
    padding-right: 10px;
    }